<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Get work done!</title>

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css"
	href="assets/css/lib/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="assets/css/global.css">
</head>
<body>
	<div class="jumbotron body-spacing">
	    <p>Logged out successfully</p>
		<h1>Get work done!</h1>
		<p class="lead">Manage your Official, project or personal tasks &
			just Get work done!!</p>
		<p>
			<a class="btn btn-lg btn-success" href="/" role="button">Click to
				Get started</a>
		</p>
	</div>
</body>
</html>